asgi-redis==0.8.3
asgiref==0.9
attrs==17.2.0
autobahn==0.12.1
Automat==0.6.0
channels==0.9.3
constantly==15.1.0
daphne==0.9.1
Django==1.9.3
django-cors-headers==2.1.0
djangorestframework==3.6.4
haikunator==1.0.1
hyperlink==17.3.1
incremental==17.5.0
msgpack-python==0.4.7
pytz==2017.2
redis==2.10.5
six==1.10.0
Twisted==15.5.0
txaio==2.2.1
zope.interface==4.1.3
