{% extends "base.html" %}

{% block content %}
  <h1>Django Channels Example</h1>
  <p class="deck">
    This is a demo using <a href="http://channels.readthedocs.org/en/latest/">
    Django Channels</a> to implement a simple WebSocket-based chat server.
    You can see the <a href="https://github.com/jacobian/channels-
    example">code on GitHub</a>, or try the app:
  </p>
  <p>
    <a class="button button-primary" href="{% url 'new_room' %}">Create new chat room</a>
  </p>
{% endblock content %}