.text.white {
  color: #FFFFFF;
}
.text.grey {
  color: #767676;
}
.text.black {
  color: #1B1C1D;
}
.text.yellow {
  color: #FBBD08;
}
.text.teal {
  color: #00B5AD;
}
.text.red {
  color: #DB2828;
}
.text.purple {
  color: #A333C8;
}
.text.pink {
  color: #E03997;
}
.text.orange {
  color: #F2711C;
}
.text.green {
  color: #21BA45;
}
.text.blue {
  color: #2185D0;
}
