{% extends "base.html" %}

{% block content %}
  {% load staticfiles %}
  <h1>{{ room.label }}</h1>
  <table id="chat">
    <tbody>
      {% for message in messages %}
        <tr>
          <td>{{ message.timestamp }}</td>
          <td>{{ message.username }}</td>
          <td>{{ message.message }}</td>
        </tr> 
      {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td>Say something:</td>
      <td><input id="username" type="text" placeholder="your name"></td>
      <td>
        <input id="message" type="text" placeholder="message">
        <button id="go">Say it</button>
      </td>
    </tfoot>
  </table>
{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "jquery-1.12.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "chat.js" %}'></script>
{% endblock afterbody %}